<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
    <title>白昼之光</title>
    {% if env == 'develop' %}
      <link type="text/css" rel="stylesheet" href="http://localhost:8001/libs/pace/pace.css">
      <script type="text/javascript" src="http://localhost:8001/libs/pace/pace.min.js"></script>
      <link href="http://localhost:8001/styles/index.css" rel="stylesheet" />
    {% else %}
      <link type="text/css" rel="stylesheet" href="http://localhost:8001/libs/pace/pace.css">
      <script type="text/javascript" src="http://localhost:8001/libs/pace/pace.min.js"></script>
      <link href="http://localhost:8001/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
      <link href="http://localhost:8001/styles/index.css" rel="stylesheet" />
    {% endif %}
  </head>
  <body>
    <div class="weather-wrapper">
      <div class="weather">
        <div class="sunny"></div>
        <div class="cloudy"></div>
        <div class="rainy"></div>           
        <div class="snowy"></div>
        <div class="rainbow"></div>
        <div class="starry"></div>
        <div class="stormy"></div>
      </div>
    </div>    
    <div class="portrait-wrapper">
      <div class="border-circle" id="one"></div>
      <div class="border-circle" id="two"></div>
      <div class="background-circle">
        <div class="triangle-light"></div>
        <div class="body"></div>
        <span class="shirt-text">I</span>
        <span class="shirt-text">♥</span>
        <span class="shirt-text">CO</span>
        <span class="shirt-text">DE</span>
        <div class="triangle-dark"></div>
      </div>
      <div class="head">
        <div class="ear" id="left"></div>
        <div class="ear" id="right"></div>
        <div class="hair-main">
          <div class="sideburn" id="left"></div>
          <div class="sideburn" id="right"></div>
          <div class="hair-top"></div>
        </div>
        <div class="face">
          <div class="hair-bottom"></div>
          <div class="nose"></div>
          <div class="eye-shadow" id="left">
            <div class="eyebrow"></div>
            <div class="eye"></div>
          </div>
          <div class="eye-shadow" id="right">
            <div class="eyebrow"></div>
            <div class="eye"></div>
          </div>
          <div class="mouth"></div>
          <div class="shadow-wrapper">
            <div class="shadow"></div>
          </div>
        </div>
      </div>
      <span class="music-note" id="one">♫</span>
      <span class="music-note" id="two">♪</span>
    </div>           
    <div class="self-introduction">
      <div class="form-group">
        <h4>陈翔宇</h4>
      </div>        
      <div class="form-group">
        <label>爱好：</label>
        <span>写代码，cook，<a href="javascript:void(0);" class="will">🎹</a></span>
      </div>
      <div class="form-group">
        <label>自我简介：</label>
        <span>Web全栈开发，热爱技术，热情开朗。喜欢思考哲学问题，信仰理性和意志。</span>
      </div>
    </div>
    <div class="self-introduction opposite">
      <div class="form-group">
        <h4>Mulberry</h4>
      </div>        
      <div class="form-group">
        <label>称号：</label>
        <span>意志</span>
      </div>
      <div class="form-group">
        <label>伙伴：</label>
        <span>幽灵鸟</span>
      </div>
      <div class="form-group">
        <label>技能：</label>
        <span>预见，闪电反射，幽灵鸟召唤，意志之怒</span>
      </div>
      <div class="form-group">
        <label>自我简介：</label>
        <span>经受了无尽的苦痛与挣扎，意志骑士终于诞生了。他坚信理性与意志是唯一救赎之路。</span>
      </div>
    </div>
    <!-- <button id="goto-talk" class="button button-talk">和我聊天吧</button> -->
    <script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    {% if env == 'develop' %}
      <script type="text/javascript" src="http://localhost:8001/libs/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="http://localhost:8001/scripts/index.js"></script>
    {% else %}
      <script type="text/javascript" src="http://localhost:8001/libs/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="http://localhost:8001/scripts/index.js"></script>
    {% endif %}
  </body>
</html>