<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
        <title>白昼之光</title>
        {% include "common/head.php" %}
        {% if env == 'develop' %}
            <link href="http://localhost:8001/styles/statistics.css" rel="stylesheet" />
        {% else %}
            <link href="http://localhost:8001/styles/statistics.css" rel="stylesheet" />
        {% endif %}
    </head>
    <body>
        <div class="">
            
        </div>
        {% include "common/foot.php" %}
    </body>
</html>